$color-primary: rgba(255, 70, 70, 1);
$color-primary-10: rgba(255, 70, 70, 0.1);
$dark: rgba(24, 28, 41, 1);
$static-white: rgba(255, 255, 255, 1);
$static-white-40: rgba(255, 255, 255, 0.4);
$static-white-20: rgba(255, 255, 255, 0.2);
$tag-purple: rgba(67, 97, 255, 1);
$tag-pink: rgba(255, 67, 247, 1);
$tag-green: rgba(6, 164, 79, 1);
$link-color: rgba(67, 97, 255, 1);
$overlay-color: rgba(24, 28, 41, 0.80);

$primary-font: "Montserrat";
$secondary-font: "Allura";

$space-0: 0;
$space-8: 0.5rem; /* 8px */
$space-12: 0.75rem; /* 12px */
$space-20: 1.25rem; /* 20px */
$space-32: 2.0rem; /* 32px */
$space-60: 3.75rem; /* 60px */

$b-radius-12: 0.75rem; /* 12px */
$b-radius-20: 1.25rem; /* 20px */
$b-radius-60: 3.75rem; /* 60px */

$semibold-text-weight: 600;

$header-1-size: 2rem; /* 32px */
$header-1-line-height: 150%;
$header-1-letter-spacing: 0.18em;
$header-2-size: 1.5rem; /* 24px */
$header-2-line-height: 152%;
$header-2-letter-spacing: 0.16em;
$header-3-size: 1rem; /* 16px */
$header-3-line-height: 152%;
$header-3-letter-spacing: 0.08em;
$header-4-size: 0.75rem; /* 12px */
$header-4-line-height: 130%;
$header-4-letter-spacing: 0.05em;

$paragraph-text-size: 1rem; /* 16px */
$paragraph-text-line-height: 148%;
$paragraph-text-letter-spacing: 0;

$action-lg-text-size: 1.5rem; /* 24px */
$action-lg-text-line-height: 152%;
$action-lg-text-letter-spacing: 0.16em;
$action-sm-text-size: 0.75rem; /* 12px */
$action-sm-text-line-height: 130%;
$action-sm-text-letter-spacing: 0.05em;
