@use 'sass:color';
@use '@/Styles/_variables.scss' as *;
@use '@/Styles/_mixins.scss' as *;

.button {
  @include action-sm-text;
  text-transform: uppercase;
  background-color: $dark;
  color: $static-white;
  border: none;
  border-radius: $b-radius-20;
  padding: 20px 32px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: $static-white;
    color: $dark;
  }
}
