@use 'sass:color';
@use '@/Styles/_variables.scss' as *;
@use '@/Styles/_mixins.scss' as *;
.label {
  @include action-sm-text;
  text-transform: uppercase;
}
.input {
  @include action-sm-text;
  cursor: pointer;
  width: 80%;
  padding: 22px 12px;
  border-radius: $b-radius-12;
  border: $dark solid 1px;
  color: $dark;
  transition: all 0.3s ease;
  background-color:$static-white;

  &::placeholder {
    color: rgba(99, 99, 99, 0.2);
    text-transform: uppercase;
  }

  &:focus,
  &:hover,
  &:active {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  &:disabled {
    background-color: $static-white-40;
    cursor: not-allowed;
  }
}

.label-text {
  margin-bottom: 4px;
}
